#Directories
/node_modules
.nx
.github
.husky
.idea
.angular

#Files
.prettierrc
eslint.config.js
package.json
package-lock.json
src/test-setup.ts
jest.config.ts
jest.preset.js
nx.json
project.json
**/tsconfig*