// Variables
$gradient-start: rgb(15, 22, 29);
$gradient-middle: rgb(19, 27, 36);
$gradient-end: $gradient-start;

$border-color: rgb(97, 97, 97);
$cell-border-color: rgb(78, 78, 78);
$needle-border-color: rgb(255, 206, 10);
$needle-shadow-color: rgb(0, 0, 0);

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Ribbon Container
.ribbon-container {
  padding: 40px 10px;
  width: 600px;
  height: 300px;
  background: linear-gradient(to right, $gradient-start 0%, $gradient-middle 51%, $gradient-end 100%);

  .ribbon {
    height: 180px;
    background: black;
    border: 1px solid $border-color;
    overflow: hidden;
    position: relative;
    padding: 0;

    &__needle {
      border-bottom: 1px dashed $needle-border-color;
      position: absolute;
      height: 1px;
      top: 50%;
      width: 100%;
    }

    &-list {
      @include flex-center;
      flex-direction: column;
      position: absolute;
      width: 100%;
      top: 0;
      transition-duration: 0.5s;
      transition-timing-function: cubic-bezier(0.15, 0.25, 0.35, 1);

      &--spinning {
        top: -750px !important;
      }

      &__element {
        @include flex-center;
        color: white;
        border-bottom: 1px dashed $cell-border-color;
        height: 100px;
        width: 100%;
      }
    }
  }
}
