.app-container {
  max-width: 860px;
  margin: 20px auto;
}

@media only screen and (max-width: 860px) {
  .app-container {
    max-width: 620px;
  }
}

@media only screen and (max-width: 620px) {
  .app-container {
    max-width: 420px;
  }
}
