<ng-container>
  <app-actions-bar
    [gameScore]="gameScore"
    (gameModeChanged)="selectedMode = $event"
    (resetScore)="resetScore()"
    (playAgain)="resetSelectedResources()"
    [isPlaying]="!!playerOneResource || !!playerTwoResource"
  ></app-actions-bar>
  <div class="card-grid">
    <app-game-card
      *ngFor="let resource of gameResources[selectedMode]"
      (click)="selectResource(resource)"
      [gameResource]="resource"
      [winner]="winner"
      [selectedResource]="selectedMode"
      [isFlipped]="
        resource === playerOneResource || resource === playerTwoResource
      "
    ></app-game-card>
  </div>
</ng-container>
